body {
  min-width: 300px;
}

body * {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #282828;
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

#container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

#helper-text {
  margin-bottom: 1rem;
}

#record-status {
  font-weight: bold;
}

#two-factor {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.padding-top {
  padding-top: 1rem;
}